:root{
    --color1: #DEB986;
    --color2: #7DDF64;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    text-align: center;
    color: #FFF;
    background: var(--color1);
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template: auto;
    grid-gap: 0px;
}

.card {
    border-radius: 20px;
    border: 1px solid #afafaf;
    margin: 30px;
    text-align:center;
}

.card h2 {
    font-size: 22px;
    color: var(--color2);
}

.img_colorschema{width:100%;max-width:500px;margin:0 auto;}

.card-body {
    padding: 20px;
}

.card-body ul li {
    margin-bottom: 15px;
}

footer {
    background: var(--color1);
    color: #FFF;
    padding: 1rem 0px;
    text-align: center;
    grid-column: 1 / 4;
}