body {
    display: grid;
    height: 100vh;
    margin: 0px;
    grid-template: 165px auto 100px / auto auto 400px;
    grid-gap: 0px;
    font-family: Verdana, Geneva, sans-serif;
}

header {
    background: gray;
    padding: 2rem 0px 0px 0px;
    grid-column: 1 / 4;
}

nav {
    grid-column: 1 / 4;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #333;
}

nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 1em 1em;
}

nav li a:hover {
    color: #ccc;
}

main {
    background: white;
    grid-column: 1 / 3;
    padding: 10px;
}

aside {
    background: darkgrey;
    grid-column: 3 / 4;
    padding: 10px;
}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

.right-sidebar {
    padding: 1rem;
}