body {
    display: grid;
    height: 100vh;
    margin: 0px;
    grid-template: 150px auto 100px / 100%;
    grid-gap: 0px;
    font-family: Arial;
}

header {
    display:grid;
    background: gray;
    grid-template: auto 50px / 300px auto;
    grid-column: 1 / 4;
}

nav {
    grid-column: 1 / 4;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #333;
}

nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 1em 1em;
}

nav li a:hover {
    color: #ccc;
}

main {
    display: grid;
    grid-template: auto / auto 400px;
    grid-gap: 0px;
}
main > div {
    background: white;
    padding: 10px;
    grid-column: 1 / 2;
}

aside {
    background: darkgrey;
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 10px;
}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

.right-sidebar {
    padding: 1rem;
}