

@media (min-width: 768px) {

    header{
        grid-template-columns: 1fr 500px;
    }

	h1 {
		font-size: 2.5rem;
	}

	#menu {
		display: none;
	}

	.nav_bar {
		flex-direction: row;
        grid-column: 2 / 3;
	}

	.nav_bar a {
		display: block;
		flex: 1 1 100%;
        font-size:16px;
	}

    .images{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 1024px) {
    .images{
        grid-template-columns: repeat(3, 1fr);
    }
}
